<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLQuanCafe" connectionString="Data Source=10.106.46.92;Initial Catalog=QlQuanCafe;Persist Security Info=True;User ID=sa;Password=Bao1234567890@;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>